html, body {
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-size: 16px; 
  margin: 0!important;
}

p {
  line-height: 1.6;
  max-width: 50em; }

button, input {
  font-family: Hind, sans-serif;
  font-size: 1rem;
  outline: none; }

.wrap, .row, .tab-row {
  margin: 0 auto;
  max-width: 80%; }

.nav {
  position: fixed;
  z-index: 3;
  height: 60px;
  width: 100%;
  transition: 300ms ease; }

.brand {
  float: left;
  line-height: 60px;
  color: white;
  font-weight: 500;
  padding-left: 1rem; }
  .brand span {
    font-size: .9em;
    font-weight: 700; }
  .brand img {
    vertical-align: middle;
    height: calc(60px - 1rem);
    margin-right: .5rem; }

.top-menu {
  display: none;
  position: relative;
  float: right;
  transition: 200ms ease;
  font-weight: 300;
  height: 60px; }
  @media screen and (min-width: 640px) {
    .top-menu {
      display: block; } }
  .top-menu li {
    display: block;
    float: left;
    height: 60px; }
    .top-menu li a {
      display: block;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      color: #fff;
      padding: 0 1em; }
      .top-menu li a:hover {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent); }

.mobile-open {
  display: block; }

.hamburger-btn {
  float: right;
  display: block;
  border: none;
  background: transparent;
  color: #fff;
  height: calc(60px - 1rem);
  width: calc(60px - 1rem);
  margin: 0.5rem 0.5rem 0 0;
  padding: 0;
  position: relative; }
  @media screen and (min-width: 640px) {
    .hamburger-btn {
      display: none; } }
  .hamburger-btn:hover {
    background: rgba(0, 0, 0, 0.1); }
  .hamburger-btn .hamburger-line {
    height: 2px;
    width: calc(60px - 2rem);
    background: #fff;
    display: block;
    position: absolute;
    left: calc(0.5rem - 1px);
    transition: transform 150ms ease-in, top 150ms ease-out 150ms, bottom 150ms ease-out 150ms, opacity 150ms ease 75ms; }
    .hamburger-btn .hamburger-line:first-child {
      top: 0.75rem; }
    .hamburger-btn .hamburger-line:nth-child(2) {
      top: calc(50% - 1px); }
    .hamburger-btn .hamburger-line:last-child {
      bottom: 0.75rem; }

.hamburger-cross .hamburger-line {
  transition: transform 150ms ease-out 150ms, top 150ms ease-in, bottom 150ms ease-in, opacity 150ms ease 75ms; }
  .hamburger-cross .hamburger-line:first-child {
    transform: rotate(45deg);
    top: calc(50% - 1px); }
  .hamburger-cross .hamburger-line:nth-child(2) {
    top: calc(50% - 1px);
    opacity: 0; }
  .hamburger-cross .hamburger-line:last-child {
    transform: rotate(-45deg);
    bottom: calc(50% - 1px); }

.scroll {
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
  .scroll .top-menu li a, .scroll .brand {
    color: black; }
  .scroll .hamburger-line {
    background: #000; }

.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: 1080px;
  background-image: url('../img/ruirong/bg_small.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  display: table;
  width: 100%;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2); }
  .hero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: -1; }
  .hero h1 {
    font-size: 4em;
    margin-bottom: 1rem; }
  .hero p {
    font-size: 2em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300; }
  .hero .content {
    display: table-cell;
    vertical-align: middle; }

h1, h2, p {
  margin: 1em 0; }

h2 {
  font-size: 2rem;
  line-height: 0.5; }

a {
  color: #e14;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.row:after, .tab-row:after {
  content: "";
  display: table;
  clear: both; }

.row, .tab-row {
  display: block; }

.tab-row {
  display: table;
  height: 100%;
  vertical-align: middle; }

.main {
  background: #f8f8f8; }
  .main .row, .main .tab-row {
    min-height: 200px; }
    .main .row:before, .main .row:after, .main .tab-row:before, .main .tab-row:after {
      content: '';
      display: table; }
  .main section {
    padding: 0 1rem;
    min-height: 400px;
    height: 90vh; }

.feature {
  background-image: url('../img/ruirong/lake_0_cp.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center; }
  .feature:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: -1; }

.footer {
  background: #75889b;
  color: #ddd;
  padding: 2rem; }
  .footer li {
    line-height: 1.5; }
  .footer a {
    color: #aaa; }
  .footer hr {
    max-width: 80%;
    border: 0;
    height: 1px;
    background: #a2aebb; }

.col-4, .col-6, .col-12 {
  width: 100%; }
  @media screen and (min-width: 640px) {
    .col-4, .col-6, .col-12 {
      float: left; } }
  .tab-row > .col-4, .tab-row > .col-6, .tab-row > .col-12 {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none; }

@media screen and (min-width: 640px) {
  .col-4 {
    width: 33%; } }

@media screen and (min-width: 640px) {
  .col-6 {
    width: 50%; } }

button.cta {
  padding: 0.75em 1.5em;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: 200ms ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }
  button.cta:hover {
    color: #e14;
    box-shadow: 0 0.25em 10px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=home.css.map */


/* ----- Features -----

Tags included:

1. features-container - the main container wrapping the "features" elements

2. features-description - container wrapping the title and the description

3. features-title - the main title of the Features

4. features-separator - the line that separates the title from the Description

5. features-text - the main describing the features and services

6. service-features - container wrapping all 4 services

7. feature - the common id applied to the container of all the 4 services

8. feature img - the styling of each image belonging to each feature

9. feature-title - the common id applied to the title of each feature

10. feature p - the styling of each paragraph belonging to each feature

11. feature-button - the common id applied to the button of each feature

12. feature-button:hover - the ":hover" styling of each button

*/

#features-container {
  box-shadow: 2px 2px 15px #bebebe;
  margin-top: 5%;
  padding: 2%;
}

#service-features {
  display: flex;
  flex-direction: row;
  /* Change flow-direction to "column" in the responsive design for the features to stack
  one on top of another. */
  justify-content: space-around;
  margin-top: 2%;
  padding-bottom: 3%;
}

#features-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  width: 60%;
}

#features-description h1 {
  font-size: 45px;
}

#features-description p {
  padding: 1%;
  margin-top: 1%;
}

.gallery-feature {
  width:28%;
  min-height: 66vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #bebebe;
  /*box-shadow: 1px 2px 15px #bebebe;*/
}

.gallery-feature:hover{
  transform: scale(1.01,1.01);
}

.gallery-feature img {
  max-width: 30%;
  max-height: 30%;
  padding-top: 5%;
}

#feature-title {
  margin-top: 5%;
}

.gallery-feature p {
  width: 70%;
  margin-top: 5%;
}

.feature-button {
  border: none;
  margin-top: 30%;
  width: 12vh;
  height: 5vh;
  border-radius: 15px;
  background-color: #ff5a6e;
  color: white;
  font-size: 16px;
  margin-bottom: 20%;
}

.feature-button:hover {
  background-color: #ff7b8b;
  cursor: pointer;
}

#feature-1{
  background-image: url('../img/ruirong/portrait/woman_0.png');
  background-size: cover;
  background-position: center;
}

#feature-2{
  background-image: url('../img/ruirong/flowers/flower_0.png');
  background-size: cover;
  background-position: center;
}

#feature-3{
  background-image: url('../img/ruirong/landscape/landscape_0.png');
  background-size: cover;
  background-position: center;
}

/* ----- Features Ends-----*/

/*------ Gallery Section ------*/
#gallary-section{
  background: #24463b;
}
